* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: center;
  background-color: black;
}

.center-header{
  text-align: center;
}

.service-title{
  font-size: 25px;
  color: #a0d8ef;
}

.service-explain{
  font-size: 15px;
  font-weight: bold;
  color: #a0d8ef;
}