<header class='top-page-header'>

  <div class="center-header">
    <h2 class='service-title'>
      <%= link_to 'パチンコ・スロット データ管理アプリ', root_path, class: "service-title" %>
    </h2>
      <%= link_to '~店舗別イベント管理メモ / 子役・ボーダー管理メモ~', root_path, class: "service-explain" %>
  </div>

</header>
